<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a class="item-nav" mat-list-item routerLink="/"> <!-- Adicionando link da rota (já está configurado no app-routing.module.ts) -->
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a class="item-nav" mat-list-item routerLink="/products"> <!-- Adicionando link da rota (já está configurado no app-routing.module.ts) -->
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet> <!-- Adicionando rotas -->
    </mat-sidenav-content>
</mat-sidenav-container>